@media only screen and (max-width: 768px) {
  .section {
    padding: 3rem 0;
  }

  header.has-style-01 ul.social li {
    padding: 0 0.1rem;
  }

  header.has-style-02 {
    text-align: left;
    padding: 8rem 0 3rem;
  }

  header.has-style-01 ul.social {
    position: static;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 2rem;
    text-align: center;
  }

  header.has-style-01 .hero-content h1 {
    font-size: 45px;
    margin: 1rem auto;
  }
  header.has-style-01 .hero-content ul.link {
    margin: 1rem auto;
  }

  header.has-style-01 {
    text-align: left;
    padding: 8rem 0 3rem;
  }

  header.has-style-01 .hero-thumb .skills,
  header.has-style-01 .hero-thumb .experience {
    display: none;
  }

  .heading-title {
    margin-bottom: 1rem;
  }

  header.has-style-01 .hero-thumb .play {
    bottom: 0%;
    left: 50%;
  }

  .portfolio.has-style-01 .controls {
    margin-bottom: 2rem;
    text-align: center;
  }

  .portfolio.has-style-01 .controls button {
    display: block;
    margin-bottom: 20px;
  }
  .portfolio.has-style-01 .controls button:last-child {
    margin: 0;
  }

  .contact-me.has-style-01 ul.social {
    margin: 40px auto;
  }

  footer.has-style-01 {
    padding: 3rem 0 1.5rem;
  }

  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }

  .btn {
    padding: 10px 20px;
    min-width: auto;
  }
}

@media only screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}

@media only screen and (max-width: 992px) {
  .shape .shape-01,
  .shape .shape-02,
  .shape .shape-03,
  .shape .shape-04,
  .shape .shape-05,
  .shape .shape-06,
  .shape .shape-07,
  .shape .shape-08,
  .shape .shape-09,
  .shape .shape-10 {
    display: none;
  }

  .navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .navbar .navbar-toggler {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 35px;
    height: 35px;
    z-index: 30;
    overflow: hidden;
    display: block;
    border-radius: 0.3rem;
    background-color: var(--tertiary);
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 10000;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler::before,
  .navbar .navbar-toggler::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 15px;
    height: 2px;
    display: block;
    background-color: var(--white);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .navbar-toggler::before {
    top: 10px;
  }
  .navbar .navbar-toggler span {
    top: 17px;
  }
  .navbar .navbar-toggler::after {
    top: 24px;
  }
  .navbar .navbar-toggler.is-active::before {
    top: 18px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .navbar .navbar-toggler.is-active span {
    opacity: 0;
    left: -30px;
  }
  .navbar .navbar-toggler.is-active::after {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .navbar .navbar-collapse {
    background: var(--tertiary-02);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid var(--tertiary);
    -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    background: var(--primary);
    border-right: 2px solid var(--tertiary);
    position: absolute;
    visibility: hidden;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    min-width: 300px;
    height: 100vh !important;
    z-index: 9999;
    padding: 3rem 2rem 1rem;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .navbar .navbar-collapse.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .navbar .nav-item .dropdown-menu {
    background: transparent;
    border: none;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    padding: 0.25rem 0;
    color: var(--gray);
  }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: var(--secondary);
  }
  .navbar .dropdown-toggle::after {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
